.week {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 0.8rem;
  align-items: center;

  border-bottom: 2px solid #170496;
  padding-bottom: 1rem;
}

.weekList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.beediPfView {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 0.5rem;
  align-items: center;
  min-height: 6rem;
  justify-content: center;
}

.beediPfView p {
  padding: 0.3rem 2rem;
  background-color: rgba(1, 50, 67, 0.297);
  color: #fff;
  border-radius: 0.5rem;
}
